<div class="divMarcoGrid">
    <div class="divSubMarcoGrid">
        <table class="myTable" id="myTablePoligonoKML">
            <thead>
                <tr>
                    <th style="width: 45%;">Polígono KML</th>
                    <th style="width: 45%;">Polígono Sistema</th>
                    <th style="width: 10%;">Seleccionar</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<div id="containerProgressPopUp" class="containerProgress">
    <div class="contentImageProgress">
        <img alt="Espere ..." src="~/Imagenes/progress.gif" />
    </div>
    <div class="backgroundProgress">
    </div>
</div>

