<br />

<div class="divMarcoBusqueda">
    <h3>Captura de Datos</h3>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" style="margin-top:5px">
            <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
                <label for="lblFecha1" id="lblFecha1" class="labelColumn tamLetra regularTipografia">Fecha Inicio</label>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
                <div id="divFechaNacimientoString">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input type="text" id="txtFecha1" class="form-control inputColumn inputpe tamLetra bookTipografia" name="txtFecha1" />
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" style="margin-top:5px">
            <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
                <label for="lblFecha2" id="lblFecha2" class="labelColumn tamLetra regularTipografia">Fecha Término</label>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
                <div id="divFechaNacimientoString">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input type="text" id="txtFecha2" class="form-control inputColumn inputpe tamLetra bookTipografia" name="txtFecha2" />
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" style="margin-top:5px">
            <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
                <label for="lblPorcentaje" id="lblPorcentaje" class="labelColumn tamLetra regularTipografia">Porcentaje</label>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
                <input type="text" id="txtPorcentaje" class="form-control inputColumn inputpe tamLetra bookTipografia" name="txtPorcentaje" />
            </div>
        </div>
    </div>
</div>

<br />

<div class="divMarcoBusqueda">
    <h3>Filtros</h3>

    <div class="row">

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" style="margin-top:5px">
            <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
                <label for="lblEjercicio" id="lblEjercicio" class="labelColumn tamLetra regularTipografia">Ejercicio</label>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
                <input type="text" id="txtEjercicio" class="form-control inputColumn inputpe tamLetra bookTipografia" name="txtEjercicio" />
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" style="margin-top:5px">
            <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
                <label for="lblFechaInicio" id="lblNombre" class="labelColumn tamLetra regularTipografia">Fecha Inicio</label>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
                <div id="divFechaNacimientoString">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input type="text" id="txtFechaInicio" class="form-control inputColumn inputpe tamLetra bookTipografia" name="txtFechaInicio" />
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" style="margin-top:5px">
            <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
                <label for="lblFechaFin" id="lblNombre" class="labelColumn tamLetra regularTipografia">Fecha Fin</label>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
                <div id="divFechaNacimientoString">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input type="text" id="txtFechaFin" class="form-control inputColumn inputpe tamLetra bookTipografia" name="txtFechaFin" />
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8" style="clear:both; text-align:right; width:100%">
            <button type="button" value="Buscar" id="btnBuscar" name="Buscar" class="btnBuscar">
                <img src="@Url.Content("~/Imagenes/Buscar.png")" class="imagBotones" /> Buscar
            </button>
        </div>
    </div>
</div>

<div class="divMarcoGrid" id="idMarcoGrid">
    <div class="divSubMarcoGrid">
        <table class="myTable myTableBeneficiario" id="myTableBeneficiario1">
            <thead>
                <tr>
                    <th>Ejercicio</th>
                    <th>NumObraAccion</th>
                    <th>Q</th>
                    <th>NombreQ</th>
                    <th>IdMunicipio</th>
                    <th>Nombre</th>
                    <th>NumeroLocalidad</th>
                    <th>Federal</th>
                    <th>Estatal</th>
                    <th>Municipal</th>
                    <th>Otros</th>
                    <th>Meta</th>
                    <th>MetaCantidad</th>
                    <th>NumeroMujeres</th>
                    <th>NumeroHombres</th>
                    <th>NumeroFamilias</th>
                    <th>ClavePoligono</th>
                    <th>Coordenadas</th>
                 
                </tr>
            </thead>
        </table>
    </div>
</div>