<br />

<div class="divMarcoBusqueda">
    <div class="row">
       <!--  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" style="margin-top:5px">
            <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
                <label for="lblFechaInicio" id="lblNombre" class="labelColumn tamLetra regularTipografia">Fecha Inicio</label>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
                <div id="divFechaNacimientoString">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input type="text" id="txtFechaInicio" class="form-control inputColumn inputpe tamLetra bookTipografia" name="txtFechaInicio" />
                    </div>
                </div>
            </div>
        </div>-->

        <!-- <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" style="margin-top:5px">
            <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
                <label for="lblFechaFin" id="lblNombre" class="labelColumn tamLetra regularTipografia">Fecha Fin</label>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
                <div id="divFechaNacimientoString">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input type="text" id="txtFechaFin" class="form-control inputColumn inputpe tamLetra bookTipografia" name="txtFechaFin" />
                    </div>
                </div>
            </div>
        </div> -->

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" style="margin-top:5px">
            <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
                <label for="lblProyecto" id="lblNombre" class="labelColumn tamLetra regularTipografia">Agrupar Por</label>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
                <select id="cmbTutorDomicilio" class="form-control tamLetra bookTipografia">
                    <option value="0">TUTOR</option>
                    <option value="1">DOMICILIO</option>
                </select>
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8" style="clear:both; text-align:right; width:100%">
            <button type="button" value="Buscar" id="btnBuscar" name="Buscar" class="btnBuscar">
                <img src="@Url.Content("~/Imagenes/Buscar.png")" class="imagBotones" /> Buscar
            </button>
        </div>
    </div>
</div>

<div class="divMarcoGrid" id="idMarcoGrid">
    <div class="divSubMarcoGrid" id="divGeneral">
        <table class="myTable myTableBeneficiario" id="myTableBeneficiario1">
            <thead>
                <tr>
                    <th hidden="hidden">IdTutor</th>
                    <th>Tutor</th>
                    <th>Numero</th>
                    <th>Apellido Paterno</th>
                    <th>Apellido Materno</th>
                    <th>Nombre(s)</th>
                    <th>ID</th>
                    <th>CURP</th>
                    <th>Domicilio</th>
                    <th>Programa</th>
                    <th>Modalidad</th>
                    <th>Último Pago</th>
                    <th>Fecha Pago</th>
                    <th>Dependencia</th>
                </tr>
            </thead>
        </table>
    </div>

    <div class="divSubMarcoGrid" id="divTutor" hidden="hidden">
        <table class="myTable" id="myTableTutor">
            <thead>
                <tr>
                    <th hidden="hidden">IdTutor</th>
                    <th>Tutor</th>
                    <th>Numero</th>
                    <th>Apellido Paterno</th>
                    <th>Apellido Materno</th>
                    <th>Nombre(s)</th>
                    <th>ID</th>
                    <th>CURP</th>
                    <th>Domicilio</th>
                    <th>Programa</th>
                    <th>Modalidad</th>
                    <th>Último Pago</th>
                    <th>Fecha Pago</th>
                    <th>Dependencia</th>
                </tr>
            </thead>
        </table>
    </div>

    <div class="divSubMarcoGrid" id="divDomicilio" hidden="hidden">
        <table class="myTable" id="myTableDomicilio">
            <thead>
                <tr>
                    <th hidden="hidden">IdTutor</th>
                    <th>Domicilio</th>
                    <th>Numero</th>
                    <th>Apellido Paterno</th>
                    <th>Apellido Materno</th>
                    <th>Nombre(s)</th>
                    <th>ID</th>
                    <th>CURP</th>
                    <th>Tutor</th>
                    <th>Programa</th>
                    <th>Modalidad</th>
                    <th>Último Pago</th>
                    <th>Fecha Pago</th>
                    <th>Dependencia</th>
                </tr>
            </thead>
        </table>
    </div>
</div>