<br />

<div class="divMarcoBusqueda">
    <h3>Captura de Datos</h3>
    <div class="row">

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" style="margin-top:5px">
            <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
                <label for="lblFechaValidacion" id="lblFechaValidacion" class="labelColumn tamLetra regularTipografia">Fecha Validación</label>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
                <div id="divFechaNacimientoString">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input type="text" id="txtFechaValidacion" class="form-control inputColumn inputpe tamLetra bookTipografia" name="txtFechaValidacion" />
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" style="margin-top:5px">
            <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
                <label for="lblAnio" id="lblAnio" class="labelColumn tamLetra regularTipografia">Año</label>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
                @*<select id="cmbPrograma" class="form-control tamLetra bookTipografia"></select>*@
                <input type="text" id="txtAnio" class="form-control inputColumn inputpe tamLetra bookTipografia" name="txtAnio" />
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" style="margin-top:5px">
            <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
                <label for="lblFechaActualizada" id="lblFechaActualizada" class="labelColumn tamLetra regularTipografia">Fecha de Act.</label>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
                <div id="divFechaNacimientoString">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input type="text" id="txtFechaActualizacion" class="form-control inputColumn inputpe tamLetra bookTipografia" name="txtFechaActualizacion" />
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" style="margin-top:5px">
            <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
                <label for="lblHypervinculo" id="lblHypervinculo" class="labelColumn tamLetra regularTipografia">Hypervínculo</label>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
                <input type="text" id="txtHyper" class="form-control inputColumn inputpe tamLetra bookTipografia" name="txtHyper" />
            </div>
        </div>

       

 
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" style="margin-top:5px">
            <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
                <label for="lblnotabecas" id="lblNotaBecas" class="labelColumn tamLetra regularTipografia">Nota Becas</label>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
                <input type="text" id="txtNotaBecas" class="form-control inputColumn inputpe tamLetra bookTipografia" name="txtNotaBecas" />
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" style="margin-top:5px">
            <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
                <label for="lblUnidad" id="lblUnidad" class="labelColumn tamLetra regularTipografia">Unidad</label>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
                <input type="text" id="txtUnidad" class="form-control inputColumn inputpe tamLetra bookTipografia" name="txtUnidad" />
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" style="margin-top:5px">
            <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
                <label for="lblnotacredito" id="lblNotaCredito" class="labelColumn tamLetra regularTipografia">Nota Crédito</label>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
                <input type="text" id="txtNotaCredito" class="form-control inputColumn inputpe tamLetra bookTipografia" name="txtNotacredito" />
            </div>
        </div>

      

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" style="margin-top:5px">
            <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
                <label for="lblDenominacion" id="lblDenominacion" class="labelColumn tamLetra regularTipografia">Denominación</label>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
                <input type="text" id="txtDenominacion" class="form-control inputColumn inputpe tamLetra bookTipografia" name="txtDenominacion" />
            </div>
        </div>
    </div>
</div>

<br />

<div class="divMarcoBusqueda">
    <h3>Filtros</h3>
    
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" style="margin-top:5px">
            <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
                <label for="lblProyecto" id="lblNombre" class="labelColumn tamLetra regularTipografia">Rango Edades</label>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
                <select id="cmbRangoEdades" class="form-control tamLetra bookTipografia">
                    <option value="0">SELECCIONE...</option>
                    <option value="17">Menores de Edad</option>
                    <option value="18">Mayores de Edad</option>
                </select>
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" style="margin-top:5px">
            <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
                <label for="lblFechaInicio" id="lblNombre" class="labelColumn tamLetra regularTipografia">Fecha Inicio</label>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
                <div id="divFechaNacimientoString">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input type="text" id="txtFechaInicio" class="form-control inputColumn inputpe tamLetra bookTipografia" name="txtFechaInicio" />
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" style="margin-top:5px">
            <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
                <label for="lblFechaFin" id="lblNombre" class="labelColumn tamLetra regularTipografia">Fecha Fin</label>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
                <div id="divFechaNacimientoString">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input type="text" id="txtFechaFin" class="form-control inputColumn inputpe tamLetra bookTipografia" name="txtFechaFin" />
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8" style="clear:both; text-align:right; width:100%">
            <button type="button" value="Buscar" id="btnBuscar" name="Buscar" class="btnBuscar">
                <img src="@Url.Content("~/Imagenes/Buscar.png")" class="imagBotones" /> Buscar
            </button>
        </div>
    </div>
</div>

<div class="divMarcoGrid" id="idMarcoGrid">
    <div class="divSubMarcoGrid">
        <table class="myTable myTableBeneficiario" id="myTableBeneficiario1">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Sexo</th>
                    <th>Nombre Beneficiario</th>
                    <th>Primer Apellido</th>
                    <th>Edad</th>
                    <th>Segundo Apellido</th>
                    <th>Área</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<div class="divMarcoGraficas">
    <div id="divGrafico" style="min-width: 310px; height: 400px; margin: 0 auto" hidden="hidden"></div>
</div>
