<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ALMCL01" value="6ww1y6Dv2TIj/H08/qWH5Q==" />
    <add key="ALMCL02" value="Aq8odQXF28XCRpIT/s+Do6pYX9AznFmfj5i+WXNO21NezPVUkI60JOBSq2zzh4h7sIpPvk60kEoS79z4WCmC2/LTJ7oIWOZ4oyVs2ry+wtrxkWMcPpgK2cqpnuZF5Lx12EZ8y9JA5bjFdyDHcnRyOgQEoUv4ezFt" />    
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>