<div class="divMarcoGrid">
    <div class="divSubMarcoGrid">
        <table class="myTable" id="myTable">
            <thead>
                <tr>
                    <th style="width: 34%;">Cliente</th>
                    <th style="width: 33%;">Cartera</th>
                    <th style="width: 33%;">Segmento</th>
                </tr>
            </thead>
        </table>
    </div>
</div>