<div class="divMarcoBusqueda">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" style="margin-top:5px">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <label for="txtClienteCartera" id="lblNombre" class="labelColumn tamLetra regularTipografia">Segmento</label>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                <input type="text" id="txtClienteCartera" class="form-control inputColumn inputpe tamLetra bookTipografia" name="txtClienteCartera" readonly />
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" style="margin-top:5px">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <label for="txtCredito" id="lblNombre" class="labelColumn tamLetra regularTipografia">Crédito</label>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                <input type="text" id="txtCredito" class="form-control inputColumn inputpe tamLetra bookTipografia" name="txtCredito" readonly />
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" style="margin-top:5px">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <label for="txtNombre" id="lblNombre" class="labelColumn tamLetra regularTipografia">Nombre</label>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                <input type="text" id="txtNombre" class="form-control inputColumn inputpe tamLetra bookTipografia" name="txtNombre" readonly />
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" style="margin-top:5px">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <label for="txtRFC" id="lblNombre" class="labelColumn tamLetra regularTipografia">RFC</label>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                <input type="text" id="txtRFC" class="form-control inputColumn inputpe tamLetra bookTipografia" name="txtRFC" readonly />
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" style="margin-top:5px">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <label for="txtCalleNumero" id="lblNombre" class="labelColumn tamLetra regularTipografia">Calle y Num.</label>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                <textarea rows="3" class="form-control inputColumn tamLetra bookTipografia textArea" id="txtCalleNumero" readonly></textarea>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" style="margin-top:5px">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <label for="txtColonia" id="lblNombre" class="labelColumn tamLetra regularTipografia">Colonia</label>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                <input type="text" id="txtColonia" class="form-control inputColumn inputpe tamLetra bookTipografia" name="txtColonia" readonly />
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" style="margin-top:5px">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <label for="txtCP" id="lblNombre" class="labelColumn tamLetra regularTipografia">C.P.</label>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                <input type="text" id="txtCP" class="form-control inputColumn inputpe tamLetra bookTipografia" name="txtCP" readonly />
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" style="margin-top:5px;">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <label for="txtCiudad" id="lblNombre" class="labelColumn tamLetra regularTipografia">Ciudad</label>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                <input type="text" id="txtCiudad" class="form-control inputColumn inputpe tamLetra bookTipografia" name="txtCiudad" readonly />
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" style="margin-top:5px">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <label for="txtEstado" id="lblNombre" class="labelColumn tamLetra regularTipografia">Estado</label>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                <input type="text" id="txtEstado" class="form-control inputColumn inputpe tamLetra bookTipografia" name="txtEstado" readonly />
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" style="margin-top:5px">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <label for="txtTelFijo" id="lblNombre" class="labelColumn tamLetra regularTipografia">Télefono</label>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                <input type="text" id="txtTelFijo" class="form-control inputColumn inputpe tamLetra bookTipografia" name="txtTelFijo" readonly />
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" style="margin-top:5px">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <label for="txtTelCelular" id="lblNombre" class="labelColumn tamLetra regularTipografia">Tel. Celular</label>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                <input type="text" id="txtTelCelular" class="form-control inputColumn inputpe tamLetra bookTipografia" name="txtTelCelular" readonly />
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" style="margin-top:5px">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <label for="txtTelAdicional1" id="lblNombre" class="labelColumn tamLetra regularTipografia">Tel. Adicional 1</label>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                <input type="text" id="txtTelAdicional1" class="form-control inputColumn inputpe tamLetra bookTipografia" name="txtTelAdicional1" readonly />
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" style="margin-top:5px">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <label for="txtTelAdicional2" id="lblNombre" class="labelColumn tamLetra regularTipografia">Tel. Adicional 2</label>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                <input type="text" id="txtTelAdicional2" class="form-control inputColumn inputpe tamLetra bookTipografia" name="txtTelAdicional2" readonly />
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" style="margin-top:5px">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <label for="txtTelAdicional3" id="lblNombre" class="labelColumn tamLetra regularTipografia">Tel. Adicional 3</label>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                <input type="text" id="txtTelAdicional3" class="form-control inputColumn inputpe tamLetra bookTipografia" name="txtTelAdicional3" readonly />
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" style="margin-top:5px">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <label for="txtImporteDeuda" id="lblNombre" class="labelColumn tamLetra regularTipografia">Imp. Deuda</label>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                <input type="text" id="txtImporteDeuda" class="form-control inputColumn inputpe tamLetra bookTipografia" style="text-align:right;" name="txtImporteDeuda" readonly />
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" style="margin-top:5px">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <label for="txtMontoPrestamo" id="lblNombre" class="labelColumn tamLetra regularTipografia">Monto Prestamo</label>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                <input type="text" id="txtMontoPrestamo" class="form-control inputColumn inputpe tamLetra bookTipografia" style="text-align:right;" name="txtMontoPrestamo" readonly />
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" style="margin-top:5px">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <label for="txtSaldoActual" id="lblNombre" class="labelColumn tamLetra regularTipografia">Saldo Actual</label>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                <input type="text" id="txtSaldoActual" class="form-control inputColumn inputpe tamLetra bookTipografia" style="text-align:right;" name="txtSaldoActual" readonly />
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" style="margin-top:5px">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <label for="txtDiasdeMora" id="lblNombre" class="labelColumn tamLetra regularTipografia">Días de Mora</label>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                <input type="text" id="txtDiasdeMora" class="form-control inputColumn inputpe tamLetra bookTipografia" name="txtDiasdeMora" readonly />
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" style="margin-top:5px">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <label for="txtPorcentajeDescuento" id="lblNombre" class="labelColumn tamLetra regularTipografia">Porc. Descuento</label>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                <input type="text" id="txtPorcentajeDescuento" class="form-control inputColumn inputpe tamLetra bookTipografia" name="txtPorcentajeDescuento" readonly />
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" style="margin-top:5px">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <label for="txtPagoDescuento1" id="lblNombre" class="labelColumn tamLetra regularTipografia">Pago Desc. 1</label>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                <input type="text" id="txtPagoDescuento1" class="form-control inputColumn inputpe tamLetra bookTipografia" name="txtPagoDescuento1" readonly />
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" style="margin-top:5px">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <label for="txtPagoDescuento2" id="lblNombre" class="labelColumn tamLetra regularTipografia">Pago Desc. 2</label>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                <input type="text" id="txtPagoDescuento2" class="form-control inputColumn inputpe tamLetra bookTipografia" name="txtPagoDescuento2" readonly />
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" style="margin-top:5px">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <label for="txtTipoPrestamo" id="lblNombre" class="labelColumn tamLetra regularTipografia">Tipo Prestamo</label>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                <input type="text" id="txtTipoPrestamo" class="form-control inputColumn inputpe tamLetra bookTipografia" name="txtTipoPrestamo" readonly />
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" style="margin-top:5px">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <label for="txtConvenioPago" id="lblNombre" class="labelColumn tamLetra regularTipografia">Convenio de Pago</label>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                <input type="text" id="txtConvenioPago" class="form-control inputColumn inputpe tamLetra bookTipografia" name="txtConvenioPago" readonly />
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" style="margin-top:5px">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <label for="txtNombreGrupo" id="lblNombre" class="labelColumn tamLetra regularTipografia">Nombre Grupo</label>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                <input type="text" id="txtNombreGrupo" class="form-control inputColumn inputpe tamLetra bookTipografia" name="txtNombreGrupo" readonly />
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" style="margin-top:5px">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <label for="txtNumeroGrupo" id="lblNombre" class="labelColumn tamLetra regularTipografia">Num. Grupo</label>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                <input type="text" id="txtNumeroGrupo" class="form-control inputColumn inputpe tamLetra bookTipografia" name="txtNumeroGrupo" readonly />
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" style="margin-top:5px">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <label for="txtFechaOtorgamientoString" id="lblNombre" class="labelColumn tamLetra regularTipografia">F. Otorgamiento</label>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                <input type="text" id="txtFechaOtorgamientoString" class="form-control inputColumn inputpe tamLetra bookTipografia" name="txtFechaOtorgamientoString" readonly />
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" style="margin-top:5px">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <label for="txtFechaVencimientoString" id="lblNombre" class="labelColumn tamLetra regularTipografia">F. Vencimiento</label>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                <input type="text" id="txtFechaVencimientoString" class="form-control inputColumn inputpe tamLetra bookTipografia" name="txtFechaVencimientoString" readonly />
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" style="margin-top:5px">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <label for="txtFechaAsignacionString" id="lblNombre" class="labelColumn tamLetra regularTipografia">F. Asignación</label>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                <input type="text" id="txtFechaAsignacionString" class="form-control inputColumn inputpe tamLetra bookTipografia" name="txtFechaAsignacionString" readonly />
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" style="margin-top:5px">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <label for="txtBanco" id="lblNombre" class="labelColumn tamLetra regularTipografia">Banco</label>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                <input type="text" id="txtBanco" class="form-control inputColumn inputpe tamLetra bookTipografia" name="txtBanco" readonly />
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" style="margin-top:5px">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <label for="txtReferencia" id="lblNombre" class="labelColumn tamLetra regularTipografia">Referencia</label>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                <input type="text" id="txtReferencia" class="form-control inputColumn inputpe tamLetra bookTipografia" name="txtReferencia" readonly />
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" style="margin-top:5px">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <label for="txtAdicionalTexto1" id="lblNombre" class="labelColumn tamLetra regularTipografia">Adicional Texto</label>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                <textarea rows="3" class="form-control inputColumn tamLetra bookTipografia textArea" id="txtAdicionalTexto1" readonly></textarea>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" style="margin-top:5px">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <label for="txtAdicionalTexto2" id="lblNombre" class="labelColumn tamLetra regularTipografia">Adicional Texto 1</label>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                <textarea rows="3" class="form-control inputColumn tamLetra bookTipografia textArea" id="txtAdicionalTexto2" readonly></textarea>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" style="margin-top:5px">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <label for="txtAdicionalTexto3" id="lblNombre" class="labelColumn tamLetra regularTipografia">Adicional Texto 2</label>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                <textarea rows="3" class="form-control inputColumn tamLetra bookTipografia textArea" id="txtAdicionalTexto3" readonly></textarea>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" style="margin-top:5px">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <label for="txtAdicionalFechaString" id="lblNombre" class="labelColumn tamLetra regularTipografia">Adicional Fecha</label>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                <input type="text" id="txtAdicionalFechaString" class="form-control inputColumn inputpe tamLetra bookTipografia" name="txtAdicionalFechaString" readonly />
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" style="margin-top:5px">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <label for="txtAdicionalMonedaString" id="lblNombre" class="labelColumn tamLetra regularTipografia">Adicional Moneda</label>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                <input type="text" id="txtAdicionalMonedaString" class="form-control inputColumn inputpe tamLetra bookTipografia" name="txtAdicionalMonedaString" readonly />
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" style="margin-top:5px">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <label for="txtAdicionalEntero" id="lblNombre" class="labelColumn tamLetra regularTipografia">Adicional Entero</label>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                <input type="text" id="txtAdicionalEntero" class="form-control inputColumn inputpe tamLetra bookTipografia" name="txtAdicionalEntero" readonly />
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" style="margin-top:5px">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <label for="txtAnalistaNombre" id="lblNombre" class="labelColumn tamLetra regularTipografia">Analista</label>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                <input type="text" id="txtAnalistaNombre" class="form-control inputColumn inputpe tamLetra bookTipografia" name="txtAnalistaNombre" readonly />
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" style="margin-top:5px">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <label for="txtAnalistaUltimoContacto" id="lblNombre" class="labelColumn tamLetra regularTipografia">Analista U. Contacto</label>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                <input type="text" id="txtAnalistaUltimoContacto" class="form-control inputColumn inputpe tamLetra bookTipografia" name="txtAnalistaUltimoContacto" readonly />
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" style="margin-top:5px">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <label for="txtFechaUltimoContactoString" id="lblNombre" class="labelColumn tamLetra regularTipografia">Fecha U. Contacto</label>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                <input type="text" id="txtFechaUltimoContactoString" class="form-control inputColumn inputpe tamLetra bookTipografia" name="txtFechaUltimoContactoString" readonly />
            </div>
        </div><div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" style="margin-top:5px">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <label for="txtUltimoTipoGestion" id="lblNombre" class="labelColumn tamLetra regularTipografia">Último T. Gestión</label>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                <input type="text" id="txtUltimoTipoGestion" class="form-control inputColumn inputpe tamLetra bookTipografia" name="txtUltimoTipoGestion" readonly />
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" style="margin-top:5px">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <label for="txtUltimoEstatus" id="lblNombre" class="labelColumn tamLetra regularTipografia">Último Estatus</label>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                <input type="text" id="txtUltimoEstatus" class="form-control inputColumn inputpe tamLetra bookTipografia" name="txtUltimoEstatus" readonly />
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" style="margin-top:5px">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <label for="txtMontoPromesa" id="lblNombre" class="labelColumn tamLetra regularTipografia">Monto Promesa</label>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                <input type="text" id="txtMontoPromesa" class="form-control inputColumn inputpe tamLetra bookTipografia" style="text-align:right;" name="txtMontoPromesa" readonly />
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" style="margin-top:5px">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <label for="txtMontoComprobado" id="lblNombre" class="labelColumn tamLetra regularTipografia">Monto Comprobado</label>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                <input type="text" id="txtMontoComprobado" class="form-control inputColumn inputpe tamLetra bookTipografia" style="text-align:right;" name="txtMontoComprobado" readonly />
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" style="margin-top:5px">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <label for="txtTelefonoMarcado" id="lblNombre" class="labelColumn tamLetra regularTipografia">Último Tel. Marcado</label>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                <input type="text" id="txtTelefonoMarcado" class="form-control inputColumn inputpe tamLetra bookTipografia" name="txtTelefonoMarcado" readonly />
            </div>
        </div>
    </div>
</div>