<div class="divMarcoBusqueda">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" style="margin-top:5px">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <label for="lblNombre" id="lblNombre" class="labelColumn tamLetra regularTipografia">Deudor</label>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                <input type="text" id="txtNombre_B" class="form-control inputColumn inputpe tamLetra bookTipografia" name=" txtNombre_B" />
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" style="margin-top:5px">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <label for="chkGlobal" class="labelColumn tamLetra regularTipografia">Busqueda Global</label>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8" style="margin-top:5px">
                <input type="checkbox" id="chkGlobal"/>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" style="margin-top:5px; text-align:right;">
            <button type="button" value="Buscar" id="btnBuscar" name="Buscar" class="btnBuscarAgregar">
                <img src="@Url.Content("~/Imagenes/Buscar.png")" class="imagBotones" /> Buscar
            </button>
        </div>
    </div>
</div>

<div class="divMarcoGrid">
    <div class="divSubMarcoGrid">
        <table class="myTable" id="myTableXDeudor">
            <thead>
                <tr>
                    <th style="">Cliente-Cartera</th>
                    <th style="">Segmento</th>
                    <th style="">Nombre</th>
                    <th style="">No. Crédito</th>
                    <th style="">F. Vencimiento</th>
                    <th style="">Imp. Deuda</th>
                    <th style="">D. Mora</th>
                    <th style=""></th>
                </tr>
            </thead>
        </table>
    </div>
</div>
