
<div class="divMarcoGrid">
    <div class="divSubMarcoGrid">
        <table class="myTable" id="myTableDetalleSeg">
            <thead>
                <tr>
                    <th style="width: 15%;">Seguimiento</th>
                    <th style="width: 20%;">Comentarios</th>
                    <th style="width: 20%;">Tipo Gestión</th>
                    <th style="width: 20%;">Estatus</th>
                    <th style="width: 15%;">Tipo</th>
                    <th style="width: 10%;">Último Tel. Marcado</th>
                </tr>
            </thead>
        </table>
    </div>
</div>