<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h5>Seleccione Las Categorias</h5>
    <div class="well" id="divCategoriasFiltro">
        <ul class="list-group checked-list-box" id="ulCategoriasFiltro"></ul>
    </div>
</div>

<style>
    /* CSS REQUIRED */
    .state-icon {
        left: -5px;
    }

    .list-group-item-primary {
        color: rgb(255, 255, 255);
        background-color: rgb(66, 139, 202);
    }

    /* DEMO ONLY - REMOVES UNWANTED MARGIN */
    .well .list-group {
        margin-bottom: 0px;
    }
</style>