<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ALMCL01" value="6ww1y6Dv2TIj/H08/qWH5Q==" />
    <add key="ALMCL02" value="M9txH6n6pun6shFLTx874apYX9AznFmfj5i+WXNO21OB/J9OKxToecjLh4qPYIoQcfbafG771fxeCDSFWjePrrr7oGAP2Fn6NKJqNQGrAIrtfQG6KDmGffseCFqf1MlE" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>