
@{
    ViewBag.Title = "Inicio";
    Layout = "~/Views/Shared/_LayoutIn.cshtml";
}

<link href="@Url.Content("~/Estilo/Bootstrap3_3_7/libs/font-awesome.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Estilo/bootstrap-select.min.css")" rel="stylesheet" type="text/css" />

<div class="container">
    <p class="bookTipografia text-center" style="font-size:40px;color:#185284;font-weight:bold;text-shadow:1px 1px 3px #185284;">@ALM.Empresa.Interfaz.InformacionUsuarioLogueado.NombreComercial</p>
    <p class="bookTipografia text-center" style="font-size:24px;color:#185284">Sistema Integral de Cobranza</p>
    <img src="~/Imagenes/Inicio.png" class="img-responsive" alt="Padrón Único de Beneficiarios">
</div>


