@model ALM.Empresa.Entidades.EAcuerdoPago
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin-top:5px">
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            @Html.LabelFor(m => m.IdTipoGestion, new { @class = "control-label tamLetra regularTipografia" })
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            @Html.DropDownListFor(m => m.IdTipoGestion, Enumerable.Empty<SelectListItem>(), new { @class = "control-label tamLetra regularTipografia", id = "cmbIdTipoGestion" })
            @Html.ValidationMessageFor(model => model.IdTipoGestion, null, new { @class = "text-danger tamLetra bookTipografia" })
        </div>
    </div>
    <br />
    <br />
    <br />
    <div id="divEstatus">
    </div>
</div>
<div style="clear:both; text-align:right; width:100%">
    <br />
    <br />
    <br />
</div>
<div id="containerProgressPopUp" class="containerProgress">
    <div class="contentImageProgress">
        <img alt="Espere ..." src="~/Imagenes/progress.gif" />
    </div>
    <div class="backgroundProgress">
    </div>
</div>


