<div class="divMarcoBusqueda">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" style="margin-top:5px">
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <label for="cmbClienteFiltro" id="lblClienteFiltro" class="labelColumn tamLetra regularTipografia">Cliente</label>
            </div>
            <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                <select id="cmbClienteFiltro" class="form-control tamLetra bookTipografia"></select>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" style="margin-top:5px">
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <label for="cmbCarteraFiltro" id="lblEstatusFiltro" class="labelColumn tamLetra regularTipografia">Cartera</label>
            </div>
            <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                <select id="cmbCarteraFiltro" class="form-control tamLetra bookTipografia"></select>
            </div>
        </div>
    </div>
    <div style="clear:both; text-align:right; width:100%">
        <button type="button" value="Buscar" id="btnBuscar" name="Buscar" class="btnBuscarAgregar">
            <img src="@Url.Content("~/Imagenes/Buscar.png")" class="imagBotones" /> Buscar
        </button>
    </div>
</div>

<div class="divMarcoGrid">
    <div class="divSubMarcoGrid">
        <table class="myTable" id="myTable">
            <thead>
                <tr>
                    <th style="width: 20%;">Cliente</th>
                    <th style="width: 15%;">Cartera</th>
                    <th style="width: 15%;">Segmento</th>
                    <th style="width: 15%;">F. Creación</th>
                    <th style="width: 15%;">F. Ult. Modificación</th>
                    <th style="width: 15%;">Archivo</th>
                    <th>Importar Deudores</th>
                </tr>
            </thead>
        </table>
    </div>
</div>



