@model ALM.Reclutamiento.Entidades.EBitacora

<div class="divMarcoBusqueda">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin-top:5px">
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
            @Html.LabelFor(m => m.Comentario, new { @class = "control-label tamLetra regularTipografia" })
        </div>
        <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
            @Html.TextAreaFor(m => m.Comentario, new { @class = "form-control inputColumn inputpe tamLetra bookTipografia", id = "txtComentarioBitacora", rows = "3" })
            @Html.ValidationMessageFor(model => model.Comentario, null, new { @class = "text-danger tamLetra bookTipografia" })
        </div>
    </div>
</div>