<div class="divMarcoBusqueda_Acordeon2">
    <div class="row">
        <form name="userFormCaracteristicaFiltro2" id="userFormCaracteristicaFiltro2" method="post" novalidate="">
            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9" style="margin-top:5px">
                <div class="col-xs-12 col-sm-4 col-md-2 col-lg-2">
                    <label for="lblDocumento2" class="labelColumn tamLetra regularTipografia">Categoría</label>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-8 col-lg-8">
                    <div class="select2-wrapper2">
                        <select name="ddlCategoria2" class="js-example-basic-single form-control inputColumn tamLetra bookTipografia" id="ddlCategoria2" data-val-required="Dato requerido" data-val="true" required></select>
                        <span class="text-danger tamLetra bookTipografia" data-valmsg-replace="true" data-valmsg-for="ddlCategoria2"></span>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-2 col-lg-2">
                    <button type="button" value="Buscar" id="btnBuscar_AcordCarac2" name="Buscar2" class="btnBuscarAgregar">
                        <img src="@Url.Content("~/Imagenes/Buscar.png")" class="imagBotones" /> Buscar
                    </button>
                </div>
            </div>
        </form>
    </div>
    <br />
    <br />
    <br />
    <form name="userFormCaracteristicaControlesDinamicos2" id="userFormCaracteristicaControlesDinamicos2" method="post" novalidate="">
        <div id="divFiltrosControles2" class="row">
        </div>
    </form>
</div>
<div id="containerProgressPopUp2" class="containerProgress">
    <div class="contentImageProgress">
        <img alt="Espere ..." src="~/Imagenes/progress.gif" />
    </div>
    <div class="backgroundProgress">
    </div>
</div>
 