<div class="divMarcoBusqueda">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" style="margin-top:5px">
            <div class="col-xs-12 col-sm-4 col-md-2 col-lg-2">
                <label for="lblNombre" id="lblNombre" class="labelColumn tamLetra regularTipografia">Nombre</label>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-10 col-lg-10">
                <input type="text" id="txtNombre_B" class="form-control tamLetra bookTipografia" name="txtNombre_B" />
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" style="margin-top:5px">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <label for="lblEs" id="lblNombre" class="labelColumn tamLetra regularTipografia">Es Activo</label>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                <select id="cmbEs" class="form-control tamLetra bookTipografia"></select>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8" style="clear:both; text-align:right; width:100%">
            <button type="button" value="Buscar" id="btnBuscar" name="Buscar" class="btnBuscar">
                <img src="@Url.Content("~/Imagenes/Buscar.png")" class="imagBotones" /> Buscar
            </button>
        </div>
    </div>
</div>

<div class="divMarcoGrid">
    <div class="divSubMarcoGrid">
        <table class="myTable" id="myTable">
            <thead>
                <tr>
                    <th></th>
                    <th>Catálogo principal</th>
                    <th>Clave</th>
                    <th>Nombre</th>
                    <th>Es Activo</th>
                </tr>
            </thead>
        </table>
    </div>
</div>




