<div class="divMarcoBusqueda">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" style="margin-top:5px; height:50px;">
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <label for="cmbClienteCarteraFiltro" id="lblClienteFiltro" class="labelColumn tamLetra regularTipografia">Cliente-Cartera</label>
            </div>
            <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                <select id="cmbClienteCarteraFiltro" name="cmbClienteCarteraFiltro" class="form-control tamLetra bookTipografia" data-val-required="Dato requerido" data-val="true" required></select>
                <span class="field-validation-valid text-danger tamLetra bookTipografia" data-valmsg-replace="true" data-valmsg-for="cmbClienteCarteraFiltro"></span>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" style="margin-top:5px; height:50px;">
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <label for="cmbSegmentoFiltro" id="lblEstatusFiltro" class="labelColumn tamLetra regularTipografia">Segmento</label>
            </div>
            <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                <select id="cmbSegmentoFiltro" name="cmbSegmentoFiltro" class="form-control tamLetra bookTipografia" data-val-required="Dato requerido" data-val="true" required></select>
                <span class="field-validation-valid text-danger tamLetra bookTipografia" data-valmsg-replace="true" data-valmsg-for="cmbSegmentoFiltro"></span>
            </div>
        </div>
    </div>
    <div style="clear:both; text-align:right; width:100%">
        <button type="button" value="Buscar" id="btnBuscar" name="Buscar" class="btnBuscarAgregar">
            <img src="@Url.Content("~/Imagenes/Buscar.png")" class="imagBotones" /> Buscar
        </button>
    </div>
</div>

<div class="divMarcoGrid">
    <div class="divSubMarcoGrid">
        <table class="myTable" id="myTable">
            <thead>
                <tr>
                    <th style="">Renglón</th>
                    <th style="">Archivo</th>
                    <th style="">Fecha Error</th>
                    <th style="">Error</th>
                </tr>
            </thead>
        </table>
    </div>
</div>



