<?xml version="1.0"?>
<configuration>
  <Consulta EtiquetaId = "SPObtParametros" Creacion = "jcelaya" FechaCreacion = "20160928" Modificacion = "" FechaModificacion = "">ObtParametros</Consulta>
  <Consulta EtiquetaId = "SPActParametro" Creacion = "jcelaya" FechaCreacion = "20160930" Modificacion = "" FechaModificacion = "">ActParametro</Consulta>
  <Consulta EtiquetaId = "SPObtRoles" Creacion = "jcelaya" FechaCreacion = "20160930" Modificacion = "" FechaModificacion = "">ObtRoles</Consulta>
  <Consulta EtiquetaId = "SPObtUsuarioValidar" Creacion = "hhernandez" FechaCreacion = "20160625" Modificacion = "" FechaModificacion = "">ObtUsuarioValidar</Consulta>
  <Consulta EtiquetaId = "SPActUsuarioRecuperarContrasenia" Creacion = "hhernandez" FechaCreacion = "20160625" Modificacion = "" FechaModificacion = "">ActUsuarioRecuperarContrasenia</Consulta>
  <Consulta EtiquetaId = "SPObtUsuarioPorId" Creacion = "jcelaya" FechaCreacion = "01122016" Modificacion = "" FechaModificacion = "">ObtUsuarioPorId</Consulta>
  <Consulta EtiquetaId = "SPActUsuarioConstrasenia" Creacion = "hhernandez" FechaCreacion = "20160625" Modificacion = "" FechaModificacion = "">ActUsuarioConstrasenia</Consulta>
  <Consulta EtiquetaId = "SPObtFormasRolesPrivilegiosPorAdministrador" Creacion = "hhernandez" FechaCreacion = "20160625" Modificacion = "" FechaModificacion = "">ObtFormasRolesPrivilegiosPorAdministrador</Consulta>
  <Consulta EtiquetaId = "SPObtFormasRolesPrivilegiosPorUsuario" Creacion = "hhernandez" FechaCreacion = "20160625" Modificacion = "" FechaModificacion = "">ObtFormasRolesPrivilegiosPorUsuario</Consulta>
  <Consulta EtiquetaId = "SPObtFormasRolesPrivilegiosPorRol" Creacion = "hhernandez" FechaCreacion = "20160625" Modificacion = "" FechaModificacion = "">ObtFormasRolesPrivilegiosPorRol</Consulta>
  <Consulta EtiquetaId = "SPObtRoles" Creacion = "hhernandez" FechaCreacion = "20160625" Modificacion = "" FechaModificacion = "">ObtRoles</Consulta>
  <Consulta EtiquetaId = "SPInsRol" Creacion = "hhernandez" FechaCreacion = "20160625" Modificacion = "" FechaModificacion = "">InsRol</Consulta>
  <Consulta EtiquetaId = "SPActRol" Creacion = "hhernandez" FechaCreacion = "20160625" Modificacion = "" FechaModificacion = "">ActRol</Consulta>
  <Consulta EtiquetaId = "SPEliRol" Creacion = "hhernandez" FechaCreacion = "20160625" Modificacion = "" FechaModificacion = "">EliRol</Consulta>
  <Consulta EtiquetaId = "SPInsFormaRol" Creacion = "hhernandez" FechaCreacion = "20160625" Modificacion = "" FechaModificacion = "">InsFormaRol</Consulta>
  <Consulta EtiquetaId = "SPObtPermisosForma" Creacion = "hhernandez" FechaCreacion = "20160625" Modificacion = "" FechaModificacion = "">ObtPermisosForma</Consulta>
  <Consulta EtiquetaId = "SPObtUsuarios" Creacion = "hhernandez" FechaCreacion = "20160625" Modificacion = "" FechaModificacion = "">ObtUsuarios</Consulta>
  <Consulta EtiquetaId = "SPInsUsuario" Creacion = "hhernandez" FechaCreacion = "20160625" Modificacion = "" FechaModificacion = "">InsUsuario</Consulta>
  <Consulta EtiquetaId = "SPActUsuario" Creacion = "hhernandez" FechaCreacion = "20160625" Modificacion = "" FechaModificacion = "">ActUsuario</Consulta>
  <Consulta EtiquetaId = "SPEliUsuario" Creacion = "hhernandez" FechaCreacion = "20160625" Modificacion = "" FechaModificacion = "">EliUsuario</Consulta>
  <Consulta EtiquetaId = "SPObtUsuarioValidacionCorreo" Creacion = "hhernandez" FechaCreacion = "20160625" Modificacion = "" FechaModificacion = "">ObtUsuarioValidacionCorreo</Consulta>
  <Consulta EtiquetaId = "SPObtUsuarioValidacionLogin" Creacion = "hhernandez" FechaCreacion = "20160625" Modificacion = "" FechaModificacion = "">ObtUsuarioValidacionLogin</Consulta>
  <Consulta EtiquetaId = "SPObtRolUsuario" Creacion = "hhernandez" FechaCreacion = "20160625" Modificacion = "" FechaModificacion = "">ObtRolUsuario</Consulta>
  <Consulta EtiquetaId = "SPInsRolUsuario" Creacion = "hhernandez" FechaCreacion = "20160625" Modificacion = "" FechaModificacion = "">InsRolUsuario</Consulta>
  <Consulta EtiquetaId = "SPEliRolUsuario" Creacion = "hhernandez" FechaCreacion = "20160625" Modificacion = "" FechaModificacion = "">EliRolUsuario</Consulta>
  <Consulta EtiquetaId = "SPObtenerParametros" Creacion ="hhernandez" FechaCreacion="20170910" Modificacion=""  FechaModificacion = "">ObtenerParametros</Consulta>
  <Consulta EtiquetaId = "SPReemplazarMVC" Creacion ="hhernandez" FechaCreacion="20170909" Modificacion=""  FechaModificacion = "">ReemplazarMVC</Consulta>
  <Consulta EtiquetaId = "SPObtEmpresas" Creacion ="hhernandez" FechaCreacion="20170909" Modificacion=""  FechaModificacion = "">ObtEmpresas</Consulta>
  <Consulta EtiquetaId = "SPInsEliRolUsuario" Creacion ="hhernandez" FechaCreacion="20170909" Modificacion=""  FechaModificacion = "">InsEliRolUsuario</Consulta>
  <Consulta EtiquetaId = "SPObtFormas" Creacion ="hhernandez" FechaCreacion="20170913" Modificacion=""  FechaModificacion = "">ObtFormas</Consulta>
  <Consulta EtiquetaId = "SPActFormaPermiso" Creacion ="hhernandez" FechaCreacion="20170913" Modificacion=""  FechaModificacion = "">ActFormaPermiso</Consulta>
  <Consulta EtiquetaId = "SPActEmpresa" Creacion ="hhernandez" FechaCreacion="20170915" Modificacion=""  FechaModificacion = "">ActEmpresa</Consulta>
  <Consulta EtiquetaId = "SPObtParametrosEmpresa" Creacion = "jcelaya" FechaCreacion = "20160928" Modificacion = "" FechaModificacion = "">ObtParametrosEmpresa</Consulta>
  <Consulta EtiquetaId = "SPActParametroEmpresa" Creacion = "jcelaya" FechaCreacion = "20160930" Modificacion = "" FechaModificacion = "">ActParametroEmpresa</Consulta>
  <Consulta EtiquetaId = "SPActCliente" Creacion ="hhernandez" FechaCreacion="20170923" Modificacion=""  FechaModificacion = "">ActCliente</Consulta>
  <Consulta EtiquetaId = "SPInsCliente" Creacion = "hhernandez" FechaCreacion = "20170923" Modificacion = "" FechaModificacion = "">InsCliente</Consulta>
  <Consulta EtiquetaId = "SPObtClientes" Creacion = "hhernandez" FechaCreacion = "20170923" Modificacion = "" FechaModificacion = "">ObtClientes</Consulta>
  <Consulta EtiquetaId = "SPObtClientesCartera" Creacion = "hhernandez" FechaCreacion = "20170923" Modificacion = "" FechaModificacion = "">ObtClientesCartera</Consulta>
  <Consulta EtiquetaId = "SPActCartera" Creacion ="hhernandez" FechaCreacion="20170923" Modificacion=""  FechaModificacion = "">ActCartera</Consulta>
  <Consulta EtiquetaId = "SPInsCartera" Creacion = "hhernandez" FechaCreacion = "20170923" Modificacion = "" FechaModificacion = "">InsCartera</Consulta>
  <Consulta EtiquetaId = "SPObtCarteras" Creacion = "hhernandez" FechaCreacion = "20170923" Modificacion = "" FechaModificacion = "">ObtCarteras</Consulta>
  <Consulta EtiquetaId = "SPActSegmento" Creacion ="hhernandez" FechaCreacion="20170926" Modificacion=""  FechaModificacion = "">ActSegmento</Consulta>
  <Consulta EtiquetaId = "SPInsSegmento" Creacion = "hhernandez" FechaCreacion = "20170926" Modificacion = "" FechaModificacion = "">InsSegmento</Consulta>
  <Consulta EtiquetaId = "SPObtSegmentos" Creacion = "hhernandez" FechaCreacion = "20170926" Modificacion = "" FechaModificacion = "">ObtSegmentos</Consulta>
  <Consulta EtiquetaId = "SPObtClientesCarteras" Creacion = "hhernandez" FechaCreacion = "20170926" Modificacion = "" FechaModificacion = "">ObtClientesCarteras</Consulta>
  <Consulta EtiquetaId = "SPObtClientesCarteraTodos" Creacion = "hhernandez" FechaCreacion = "20170927" Modificacion = "" FechaModificacion = "">ObtClientesCarteraTodos</Consulta>
  <Consulta EtiquetaId = "SPEliColumnaSegmento" Creacion = "hhernandez" FechaCreacion = "20170927" Modificacion = "" FechaModificacion = "">EliColumnaSegmento</Consulta>
  <Consulta EtiquetaId = "SPInsColumnaSegmento" Creacion = "hhernandez" FechaCreacion = "20170927" Modificacion = "" FechaModificacion = "">InsColumnaSegmento</Consulta>
  <Consulta EtiquetaId = "SPObtColumnasSegmento" Creacion = "hhernandez" FechaCreacion = "20170927" Modificacion = "" FechaModificacion = "">ObtColumnasSegmento</Consulta>
  <Consulta EtiquetaId = "SPObtMapeoSegmento" Creacion = "hhernandez" FechaCreacion = "20170927" Modificacion = "" FechaModificacion = "">ObtMapeoSegmento</Consulta>
  <Consulta EtiquetaId = "SPInsMapeoSegmento" Creacion = "hhernandez" FechaCreacion = "20170927" Modificacion = "" FechaModificacion = "">InsMapeoSegmento</Consulta>
  <Consulta EtiquetaId = "SPObtMapeoColumnasSegmento" Creacion = "hhernandez" FechaCreacion = "20170928" Modificacion = "" FechaModificacion = "">ObtMapeoColumnasSegmento</Consulta>
  <Consulta EtiquetaId = "SPInsDeudor" Creacion = "hhernandez" FechaCreacion = "20170928" Modificacion = "" FechaModificacion = "">InsDeudor</Consulta>
  <Consulta EtiquetaId = "SPInsDeudorDetalleError" Creacion = "hhernandez" FechaCreacion = "20170929" Modificacion = "" FechaModificacion = "">InsDeudorDetalleError</Consulta>
  <Consulta EtiquetaId = "SPObtDeudores" Creacion = "hhernandez" FechaCreacion = "20171001" Modificacion = "" FechaModificacion = "">ObtDeudores</Consulta>
  <Consulta EtiquetaId = "SPObtUsuariosAnalistas" Creacion = "hhernandez" FechaCreacion = "20171001" Modificacion = "" FechaModificacion = "">ObtUsuariosAnalistas</Consulta>
  <Consulta EtiquetaId = "SPObtSegmentosBuscar" Creacion = "hhernandez" FechaCreacion = "20171001" Modificacion = "" FechaModificacion = "">ObtSegmentosBuscar</Consulta>
  <Consulta EtiquetaId = "SPActDeudorAsignacion" Creacion = "hhernandez" FechaCreacion = "20171001" Modificacion = "" FechaModificacion = "">ActDeudorAsignacion</Consulta>
  <Consulta EtiquetaId = "SPObtSegmentosPorAnalista" Creacion = "hhernandez" FechaCreacion = "20171007" Modificacion = "" FechaModificacion = "">ObtSegmentosPorAnalista</Consulta>
  <Consulta EtiquetaId = "SPObtDeudoresAnalista" Creacion = "hhernandez" FechaCreacion = "20171007" Modificacion = "" FechaModificacion = "">ObtDeudoresAnalista</Consulta>
  <Consulta EtiquetaId = "SPObtDeudoresAnalistaSeguimiento" Creacion = "hhernandez" FechaCreacion = "20171007" Modificacion = "" FechaModificacion = "">ObtDeudoresAnalistaSeguimiento</Consulta>
  <Consulta EtiquetaId = "SPInsCatalogo" Creacion = "hhernandez" FechaCreacion = "20171008" Modificacion = "" FechaModificacion = "">InsCatalogo</Consulta>
  <Consulta EtiquetaId = "SPActCatalogo" Creacion = "hhernandez" FechaCreacion = "20171008" Modificacion = "" FechaModificacion = "">ActCatalogo</Consulta>
  <Consulta EtiquetaId = "SPObtCatalogo" Creacion = "hhernandez" FechaCreacion = "20171008" Modificacion = "" FechaModificacion = "">ObtCatalogo</Consulta>
  <Consulta EtiquetaId = "SPObtCatalogoPorNombre" Creacion = "hhernandez" FechaCreacion = "20171008" Modificacion = "" FechaModificacion = "">ObtCatalogoPorNombre</Consulta>
  <Consulta EtiquetaId = "SPInsAcuerdoPago" Creacion = "hhernandez" FechaCreacion = "20171008" Modificacion = "" FechaModificacion = "">InsAcuerdoPago</Consulta>
  <Consulta EtiquetaId = "SPInsAgendarLlamadaDeudor" Creacion = "hhernandez" FechaCreacion = "20171008" Modificacion = "" FechaModificacion = "">InsAgendarLlamadaDeudor</Consulta>
  <Consulta EtiquetaId = "SPInsSeguimientoDeudor" Creacion = "hhernandez" FechaCreacion = "20171009" Modificacion = "" FechaModificacion = "">InsSeguimientoDeudor</Consulta>
  <Consulta EtiquetaId = "SPObtSeguimientoDeudor" Creacion = "hhernandez" FechaCreacion = "20171009" Modificacion = "" FechaModificacion = "">ObtSeguimientoDeudor</Consulta>
  <Consulta EtiquetaId = "SPInsContactoDeudor" Creacion = "hhernandez" FechaCreacion = "20171010" Modificacion = "" FechaModificacion = "">InsContactoDeudor</Consulta>
  <Consulta EtiquetaId = "SPObtContactoDeudor" Creacion = "hhernandez" FechaCreacion = "20171010" Modificacion = "" FechaModificacion = "">ObtContactoDeudor</Consulta>
  <Consulta EtiquetaId = "SPObtCatalogoDelSubCatalogo" Creacion = "hhernandez" FechaCreacion = "20171011" Modificacion = "" FechaModificacion = "">ObtCatalogoDelSubCatalogo</Consulta>
  <Consulta EtiquetaId = "SPObtInfoSubCatalogoPorIdPadre" Creacion = "hhernandez" FechaCreacion = "20171011" Modificacion = "" FechaModificacion = "">ObtInfoSubCatalogoPorIdPadre</Consulta>
  <Consulta EtiquetaId = "SPInsSubCatalogo" Creacion = "hhernandez" FechaCreacion = "20171011" Modificacion = "" FechaModificacion = "">InsSubCatalogo</Consulta>
  <Consulta EtiquetaId = "SPActSubCatalogo" Creacion = "hhernandez" FechaCreacion = "20171011" Modificacion = "" FechaModificacion = "">ActSubCatalogo</Consulta>
  <Consulta EtiquetaId = "SPObtSubCatalogos" Creacion = "hhernandez" FechaCreacion = "20171011" Modificacion = "" FechaModificacion = "">ObtSubCatalogos</Consulta>
  <Consulta EtiquetaId = "SPObtSubCatalogoPorIdCatalogo" Creacion = "hhernandez" FechaCreacion = "20171011" Modificacion = "" FechaModificacion = "">ObtSubCatalogoPorIdCatalogo</Consulta>
  <Consulta EtiquetaId = "SPObtCatalogosDelSubCatalogo" Creacion = "hhernandez" FechaCreacion = "20171011" Modificacion = "" FechaModificacion = "">ObtCatalogosDelSubCatalogo</Consulta>
  <Consulta EtiquetaId = "SPObtIdsCatalogosDelSubCatalogo" Creacion = "hhernandez" FechaCreacion = "20171011" Modificacion = "" FechaModificacion = "">ObtIdsCatalogosDelSubCatalogo</Consulta>
  <Consulta EtiquetaId = "SPObtInfoSubCatalogoPorNombrePadre" Creacion = "hhernandez" FechaCreacion = "20171011" Modificacion = "" FechaModificacion = "">ObtInfoSubCatalogoPorNombrePadre</Consulta>
  <Consulta EtiquetaId = "SPInsPagoComprobado" Creacion = "hhernandez" FechaCreacion = "20171011" Modificacion = "" FechaModificacion = "">InsPagoComprobado</Consulta>
  <Consulta EtiquetaId = "SPInsAliasEstatus" Creacion = "hhernandez" FechaCreacion = "20171024" Modificacion = "" FechaModificacion = "">InsAliasEstatus</Consulta>
  <Consulta EtiquetaId = "SPObtEstatusCartera" Creacion = "hhernandez" FechaCreacion = "20171024" Modificacion = "" FechaModificacion = "">ObtEstatusCartera</Consulta>
  <Consulta EtiquetaId = "SPObtConfiguracionReportes" Creacion = "hhernandez" FechaCreacion = "20171024" Modificacion = "" FechaModificacion = "">ObtConfiguracionReportes</Consulta>
  <Consulta EtiquetaId = "SPObtRepSabana" Creacion = "hhernandez" FechaCreacion = "20171024" Modificacion = "" FechaModificacion = "">ObtRepSabana</Consulta>
  <Consulta EtiquetaId = "SPObtRepResumen" Creacion = "hhernandez" FechaCreacion = "20171024" Modificacion = "" FechaModificacion = "">ObtRepResumen</Consulta>
  <Consulta EtiquetaId = "SPObtEstatusNoSeguimiento" Creacion = "hhernandez" FechaCreacion = "20171024" Modificacion = "" FechaModificacion = "">ObtEstatusNoSeguimiento</Consulta>
  <Consulta EtiquetaId = "SPObtErrorImportarDeudores" Creacion = "hhernandez" FechaCreacion = "20171024" Modificacion = "" FechaModificacion = "">ObtErrorImportarDeudores</Consulta>
  <Consulta EtiquetaId = "SPEliErrorImportarDeudores" Creacion = "hhernandez" FechaCreacion = "20171024" Modificacion = "" FechaModificacion = "">EliErrorImportarDeudores</Consulta>
  <Consulta EtiquetaId = "SPObtSegmentoCarga" Creacion = "hhernandez" FechaCreacion = "20171114" Modificacion = "" FechaModificacion = "">ObtSegmentoCarga</Consulta>
  <Consulta EtiquetaId = "SPActColumnaSegmento" Creacion = "hhernandez" FechaCreacion = "20171116" Modificacion = "" FechaModificacion = "">ActColumnaSegmento</Consulta>
  <Consulta EtiquetaId = "SPEliDeudor" Creacion = "hhernandez" FechaCreacion = "20171125" Modificacion = "" FechaModificacion = "">EliDeudor</Consulta>
  <Consulta EtiquetaId = "SPEliVacante_Prospecto" Creacion = "ACholico" FechaCreacion = "20180705" Modificacion = "" FechaModificacion = "">EliVacante_Prospecto</Consulta>
</configuration>
