<?xml version="1.0"?>
<configuration>
  <Consulta EtiquetaId = "SPObtParametros" Creacion = "jcelaya" FechaCreacion = "20160928" Modificacion = "" FechaModificacion = "">ObtParametros</Consulta>
  <Consulta EtiquetaId = "SPActParametro" Creacion = "jcelaya" FechaCreacion = "20160930" Modificacion = "" FechaModificacion = "">ActParametro</Consulta>
  <Consulta EtiquetaId = "SPObtRoles" Creacion = "jcelaya" FechaCreacion = "20160930" Modificacion = "" FechaModificacion = "">ObtRoles</Consulta>
  <Consulta EtiquetaId = "SPObtUsuarioValidar" Creacion = "hhernandez" FechaCreacion = "20160625" Modificacion = "" FechaModificacion = "">ObtUsuarioValidar</Consulta>
  <Consulta EtiquetaId = "SPActUsuarioRecuperarContrasenia" Creacion = "hhernandez" FechaCreacion = "20160625" Modificacion = "" FechaModificacion = "">ActUsuarioRecuperarContrasenia</Consulta>
  <Consulta EtiquetaId = "SPObtUsuarioPorId" Creacion = "jcelaya" FechaCreacion = "01122016" Modificacion = "" FechaModificacion = "">ObtUsuarioPorId</Consulta>
  <Consulta EtiquetaId = "SPActUsuarioConstrasenia" Creacion = "hhernandez" FechaCreacion = "20160625" Modificacion = "" FechaModificacion = "">ActUsuarioConstrasenia</Consulta>
  <Consulta EtiquetaId = "SPObtFormasRolesPrivilegiosPorAdministrador" Creacion = "hhernandez" FechaCreacion = "20160625" Modificacion = "" FechaModificacion = "">ObtFormasRolesPrivilegiosPorAdministrador</Consulta>
  <Consulta EtiquetaId = "SPObtFormasRolesPrivilegiosPorUsuario" Creacion = "hhernandez" FechaCreacion = "20160625" Modificacion = "" FechaModificacion = "">ObtFormasRolesPrivilegiosPorUsuario</Consulta>
  <Consulta EtiquetaId = "SPObtFormasRolesPrivilegiosPorRol" Creacion = "hhernandez" FechaCreacion = "20160625" Modificacion = "" FechaModificacion = "">ObtFormasRolesPrivilegiosPorRol</Consulta>
  <Consulta EtiquetaId = "SPObtRoles" Creacion = "hhernandez" FechaCreacion = "20160625" Modificacion = "" FechaModificacion = "">ObtRoles</Consulta>
  <Consulta EtiquetaId = "SPInsRol" Creacion = "hhernandez" FechaCreacion = "20160625" Modificacion = "" FechaModificacion = "">InsRol</Consulta>
  <Consulta EtiquetaId = "SPActRol" Creacion = "hhernandez" FechaCreacion = "20160625" Modificacion = "" FechaModificacion = "">ActRol</Consulta>
  <Consulta EtiquetaId = "SPEliRol" Creacion = "hhernandez" FechaCreacion = "20160625" Modificacion = "" FechaModificacion = "">EliRol</Consulta>
  <Consulta EtiquetaId = "SPInsFormaRol" Creacion = "hhernandez" FechaCreacion = "20160625" Modificacion = "" FechaModificacion = "">InsFormaRol</Consulta>
  <Consulta EtiquetaId = "SPObtPermisosForma" Creacion = "hhernandez" FechaCreacion = "20160625" Modificacion = "" FechaModificacion = "">ObtPermisosForma</Consulta>
  <Consulta EtiquetaId = "SPObtUsuarios" Creacion = "hhernandez" FechaCreacion = "20160625" Modificacion = "" FechaModificacion = "">ObtUsuarios</Consulta>
  <Consulta EtiquetaId = "SPInsUsuario" Creacion = "hhernandez" FechaCreacion = "20160625" Modificacion = "" FechaModificacion = "">InsUsuario</Consulta>
  <Consulta EtiquetaId = "SPActUsuario" Creacion = "hhernandez" FechaCreacion = "20160625" Modificacion = "" FechaModificacion = "">ActUsuario</Consulta>
  <Consulta EtiquetaId = "SPEliUsuario" Creacion = "hhernandez" FechaCreacion = "20160625" Modificacion = "" FechaModificacion = "">EliUsuario</Consulta>
  <Consulta EtiquetaId = "SPObtUsuarioValidacionCorreo" Creacion = "hhernandez" FechaCreacion = "20160625" Modificacion = "" FechaModificacion = "">ObtUsuarioValidacionCorreo</Consulta>
  <Consulta EtiquetaId = "SPObtUsuarioValidacionLogin" Creacion = "hhernandez" FechaCreacion = "20160625" Modificacion = "" FechaModificacion = "">ObtUsuarioValidacionLogin</Consulta>
  <Consulta EtiquetaId = "SPObtRolUsuario" Creacion = "hhernandez" FechaCreacion = "20160625" Modificacion = "" FechaModificacion = "">ObtRolUsuario</Consulta>
  <Consulta EtiquetaId = "SPInsRolUsuario" Creacion = "hhernandez" FechaCreacion = "20160625" Modificacion = "" FechaModificacion = "">InsRolUsuario</Consulta>
  <Consulta EtiquetaId = "SPEliRolUsuario" Creacion = "hhernandez" FechaCreacion = "20160625" Modificacion = "" FechaModificacion = "">EliRolUsuario</Consulta>
  <Consulta EtiquetaId = "SPObtenerParametros" Creacion ="hhernandez" FechaCreacion="20170910" Modificacion=""  FechaModificacion = "">ObtenerParametros</Consulta>
  <Consulta EtiquetaId = "SPReemplazarMVC" Creacion ="hhernandez" FechaCreacion="20170909" Modificacion=""  FechaModificacion = "">ReemplazarMVC</Consulta>
  <Consulta EtiquetaId = "SPObtEmpresas" Creacion ="hhernandez" FechaCreacion="20170909" Modificacion=""  FechaModificacion = "">ObtEmpresas</Consulta>
  <Consulta EtiquetaId = "SPObtEmpresasID" Creacion ="rnavor" FechaCreacion="20200129" Modificacion=""  FechaModificacion = "">ObtEmpresasID</Consulta>
  <Consulta EtiquetaId = "SPInsEliRolUsuario" Creacion ="hhernandez" FechaCreacion="20170909" Modificacion=""  FechaModificacion = "">InsEliRolUsuario</Consulta>
  <Consulta EtiquetaId = "SPObtFormas" Creacion ="hhernandez" FechaCreacion="20170913" Modificacion=""  FechaModificacion = "">ObtFormas</Consulta>
  <Consulta EtiquetaId = "SPActFormaPermiso" Creacion ="hhernandez" FechaCreacion="20170913" Modificacion=""  FechaModificacion = "">ActFormaPermiso</Consulta>
  <Consulta EtiquetaId = "SPInsEmpresa" Creacion ="fsalazar" FechaCreacion="20190809" Modificacion=""  FechaModificacion = "">InsEmpresa</Consulta>
  <Consulta EtiquetaId = "SPObtIdEmpresaSiguiente" Creacion ="fsalazar" FechaCreacion="20190809" Modificacion=""  FechaModificacion = "">ObtIdEmpresaSiguiente</Consulta>
  <Consulta EtiquetaId = "SPActEmpresa" Creacion ="hhernandez" FechaCreacion="20170915" Modificacion=""  FechaModificacion = "">ActEmpresa</Consulta>
  <Consulta EtiquetaId = "SPObtParametrosEmpresa" Creacion = "jcelaya" FechaCreacion = "20160928" Modificacion = "" FechaModificacion = "">ObtParametrosEmpresa</Consulta>
  <Consulta EtiquetaId = "SPActParametroEmpresa" Creacion = "jcelaya" FechaCreacion = "20160930" Modificacion = "" FechaModificacion = "">ActParametroEmpresa</Consulta>
  <Consulta EtiquetaId = "SPActCliente" Creacion ="hhernandez" FechaCreacion="20170923" Modificacion=""  FechaModificacion = "">ActCliente</Consulta>
  <Consulta EtiquetaId = "SPInsCliente" Creacion = "hhernandez" FechaCreacion = "20170923" Modificacion = "" FechaModificacion = "">InsCliente</Consulta>
  <Consulta EtiquetaId = "SPObtClientes" Creacion = "hhernandez" FechaCreacion = "20170923" Modificacion = "" FechaModificacion = "">ObtClientes</Consulta>
  <Consulta EtiquetaId = "SPObtClientesCartera" Creacion = "hhernandez" FechaCreacion = "20170923" Modificacion = "" FechaModificacion = "">ObtClientesCartera</Consulta>

  <Consulta EtiquetaId = "SPInsCatalogo" Creacion = "hhernandez" FechaCreacion = "20171008" Modificacion = "" FechaModificacion = "">InsCatalogo</Consulta>
  <Consulta EtiquetaId = "SPActCatalogo" Creacion = "hhernandez" FechaCreacion = "20171008" Modificacion = "" FechaModificacion = "">ActCatalogo</Consulta>
  <Consulta EtiquetaId = "SPObtCatalogo" Creacion = "hhernandez" FechaCreacion = "20171008" Modificacion = "" FechaModificacion = "">ObtCatalogo</Consulta>
  <Consulta EtiquetaId = "SPObtCatalogoPorNombre" Creacion = "hhernandez" FechaCreacion = "20171008" Modificacion = "" FechaModificacion = "">ObtCatalogoPorNombre</Consulta>
  <Consulta EtiquetaId = "SPObtCatalogoDelSubCatalogo" Creacion = "hhernandez" FechaCreacion = "20171011" Modificacion = "" FechaModificacion = "">ObtCatalogoDelSubCatalogo</Consulta>
  <Consulta EtiquetaId = "SPObtInfoSubCatalogoPorIdPadre" Creacion = "hhernandez" FechaCreacion = "20171011" Modificacion = "" FechaModificacion = "">ObtInfoSubCatalogoPorIdPadre</Consulta>
  <Consulta EtiquetaId = "SPInsSubCatalogo" Creacion = "hhernandez" FechaCreacion = "20171011" Modificacion = "" FechaModificacion = "">InsSubCatalogo</Consulta>
  <Consulta EtiquetaId = "SPActSubCatalogo" Creacion = "hhernandez" FechaCreacion = "20171011" Modificacion = "" FechaModificacion = "">ActSubCatalogo</Consulta>
  <Consulta EtiquetaId = "SPObtSubCatalogos" Creacion = "hhernandez" FechaCreacion = "20171011" Modificacion = "" FechaModificacion = "">ObtSubCatalogos</Consulta>
  <Consulta EtiquetaId = "SPObtSubCatalogoPorIdCatalogo" Creacion = "hhernandez" FechaCreacion = "20171011" Modificacion = "" FechaModificacion = "">ObtSubCatalogoPorIdCatalogo</Consulta>
  <Consulta EtiquetaId = "SPObtCatalogosDelSubCatalogo" Creacion = "hhernandez" FechaCreacion = "20171011" Modificacion = "" FechaModificacion = "">ObtCatalogosDelSubCatalogo</Consulta>
  <Consulta EtiquetaId = "SPObtIdsCatalogosDelSubCatalogo" Creacion = "hhernandez" FechaCreacion = "20171011" Modificacion = "" FechaModificacion = "">ObtIdsCatalogosDelSubCatalogo</Consulta>
  <Consulta EtiquetaId = "SPObtInfoSubCatalogoPorNombrePadre" Creacion = "hhernandez" FechaCreacion = "20171011" Modificacion = "" FechaModificacion = "">ObtInfoSubCatalogoPorNombrePadre</Consulta>

  <!-- Vacantes-->
  <Consulta EtiquetaId = "SPInsVacante" Creacion = "aherrera" FechaCreacion = "20180227" Modificacion = "" FechaModificacion = "">InsVacante</Consulta>
  <Consulta EtiquetaId = "SPInsVacante_Prospecto" Creacion = "CAndrade" FechaCreacion = "20180620" Modificacion = "" FechaModificacion = "">InsVacante_Prospecto</Consulta>
  <Consulta EtiquetaId = "SPActVacante" Creacion = "aherrera" FechaCreacion = "20180227" Modificacion = "" FechaModificacion = "">ActVacante</Consulta>
  <Consulta EtiquetaId = "SPEliVacante_Prospecto" Creacion = "ACholico" FechaCreacion = "20180705" Modificacion = "" FechaModificacion = "">EliVacante_Prospecto</Consulta>
  <Consulta EtiquetaId = "SPObtVacantes" Creacion = "aherrera" FechaCreacion = "20180227" Modificacion = "" FechaModificacion = "">ObtVacantes</Consulta>
  <Consulta EtiquetaId = "SPInsVacante_Fuente" Creacion = "dAceves" FechaCreacion ="20200217" Modificacion = "" FechaModificacion = "">InsVacante_Fuente</Consulta>
  
  <Consulta EtiquetaId = "SPObtDetallesCatalogo" Creacion = "aGutierrez" FechaCreacion = "20180228" Modificacion = "" FechaModificacion = "">ObtDetallesCatalogo</Consulta>
  <Consulta EtiquetaId = "SPObtProspectos" Creacion = "aGutierrez" FechaCreacion = "20180228" Modificacion = "" FechaModificacion = "">ObtProspectos</Consulta>

  <Consulta EtiquetaId = "SPObtProspectosCaracteristicasParticulares" Creacion = "fsalazar" FechaCreacion = "20190404" Modificacion = "dAceves" FechaModificacion = "20200207">ObtProspectosCaracteristicasParticulares</Consulta>
  <Consulta EtiquetaId = "SPObtProspectosCaracteristicasParticularesSeleccionados" Creacion = "fsalazar" FechaCreacion = "20190404" Modificacion = "dAceves" FechaModificacion = "20200207">ObtProspectosCaracteristicasParticularesSeleccionados</Consulta>//JARAMILLO
  <Consulta EtiquetaId = "SPObtCodigoSuperUsuario" Creacion = "fsalazar" FechaCreacion = "2019/08/08" Modificacion = "" FechaModificacion = "">ObtCodigoSuperUsuario</Consulta>

  <Consulta EtiquetaId = "SPObtProspectoPorCliente" Creacion = "dAceves" FechaCreacion = "2020/02/19" Modificacion = "" FechaModificacion = "">ObtProspectoPorCliente</Consulta>

  <Consulta EtiquetaId = "SPObtCiudades" Creacion = "aGutierrez" FechaCreacion = "20180301" Modificacion = "" FechaModificacion = "">ObtCiudades</Consulta>

  <Consulta EtiquetaId = "SPInsProspecto" Creacion = "aGutierrez" FechaCreacion = "20180301" Modificacion = "" FechaModificacion = "">InsProspecto</Consulta>
  <Consulta EtiquetaId = "SPActProspecto" Creacion = "aGutierrez" FechaCreacion = "20180301" Modificacion = "" FechaModificacion = "">ActProspecto</Consulta>
  <Consulta EtiquetaId = "SPInsDocsCliente" Creacion = "aGutierrez" FechaCreacion = "20180307" Modificacion = "" FechaModificacion = "">InsDocsCliente</Consulta>
  <Consulta EtiquetaId = "SPObtDocsCliente" Creacion = "aGutierrez" FechaCreacion = "20180307" Modificacion = "" FechaModificacion = "">ObtDocsCliente</Consulta>
  <Consulta EtiquetaId = "SPEliDocsCliente" Creacion = "aGutierrez" FechaCreacion = "20180307" Modificacion = "" FechaModificacion = "">EliDocsCliente</Consulta>

  <Consulta EtiquetaId = "SPInsDocsProspecto" Creacion = "aGutierrez" FechaCreacion = "20180308" Modificacion = "" FechaModificacion = "">InsDocsProspecto</Consulta>
  <Consulta EtiquetaId = "SPObtDocsProspecto" Creacion = "aGutierrez" FechaCreacion = "20180308" Modificacion = "" FechaModificacion = "">ObtDocsProspecto</Consulta>
  <Consulta EtiquetaId = "SPEliDocsProspecto" Creacion = "aGutierrez" FechaCreacion = "20180308" Modificacion = "" FechaModificacion = "">EliDocsProspecto</Consulta>

  <Consulta EtiquetaId = "SPObtProsVacante" Creacion = "CAndrade" FechaCreacion = "20180613" Modificacion = "" FechaModificacion = "">ObtProsVacante</Consulta>
  <Consulta EtiquetaId = "SPObtProspectosPorCaracteristicas" Creacion = "CAndrade" FechaCreacion = "20180613" Modificacion = "" FechaModificacion = "">ObtProspectosPorCaracteristicas</Consulta>

  <!-- Usados por codigo postal -->
  <Consulta EtiquetaId = "SPObtPaises" Creacion = "mSosa" FechaCreacion = "05/03/2018" Modificacion = "" FechaModificacion = "">ObtPaises</Consulta>
  <Consulta EtiquetaId = "SPTruTablasCP" Creacion = "mSosa" FechaCreacion = "05/03/2018" Modificacion = "" FechaModificacion = "">TruTablesCP</Consulta>
  <Consulta EtiquetaId = "SPInsEstados" Creacion = "mSosa" FechaCreacion = "05/03/2018" Modificacion = "" FechaModificacion = "">InsEstados</Consulta>
  <Consulta EtiquetaId = "SPInsCiudades" Creacion = "mSosa" FechaCreacion = "05/03/2018" Modificacion = "" FechaModificacion = "">InsCiudades</Consulta>
  <Consulta EtiquetaId = "SPInsTipoAsentamientos" Creacion = "mSosa" FechaCreacion = "05/03/2018" Modificacion = "" FechaModificacion = "">InsTipoAsentamientos</Consulta>
  <Consulta EtiquetaId = "SPInsColonias" Creacion = "mSosa" FechaCreacion = "05/03/2018" Modificacion = "" FechaModificacion = "">InsColonias</Consulta>
  <Consulta EtiquetaId = "SPInsFechaUltimaCarga" Creacion = "mSosa" FechaCreacion = "05/03/2018" Modificacion = "" FechaModificacion = "">InsFechaUltimaCarga</Consulta>
  <Consulta EtiquetaId = "SPObtFechaUltimaCarga" Creacion = "mSosa" FechaCreacion = "05/03/2018" Modificacion = "" FechaModificacion = "">ObtFechaUltimaCarga</Consulta>
  <Consulta EtiquetaId = "SPObtCiudadTexto" Creacion = "aHerrera" FechaCreacion = "15/03/2018" Modificacion = "" FechaModificacion = "">ObtCiudadTexto</Consulta>

  <Consulta EtiquetaId = "SPObtProspectoId" Creacion = "aGutierrez" FechaCreacion = "20180308" Modificacion = "" FechaModificacion = "">ObtProspectoId</Consulta>
  <Consulta EtiquetaId = "SPObtClienteId" Creacion = "aGutierrez" FechaCreacion = "20180308" Modificacion = "" FechaModificacion = "">ObtClienteId</Consulta>

  <Consulta EtiquetaId = "SPObtEstados" Creacion = "aGutierrez" FechaCreacion = "20180313" Modificacion = "" FechaModificacion = "">ObtEstados</Consulta>
  <Consulta EtiquetaId = "SPObtReferenciaLaboralIdProspecto" Creacion = "aGutierrez" FechaCreacion = "20180313" Modificacion = "" FechaModificacion = "">ObtReferenciaLaboralIdProspecto</Consulta>
  <Consulta EtiquetaId = "SPInsReferenciaLaboral" Creacion = "aGutierrez" FechaCreacion = "20180313" Modificacion = "" FechaModificacion = "">InsReferenciaLaboral</Consulta>
  <Consulta EtiquetaId = "SPActReferenciaLaboral" Creacion = "aGutierrez" FechaCreacion = "20180313" Modificacion = "" FechaModificacion = "">ActReferenciaLaboral</Consulta>

  <Consulta EtiquetaId = "SPInsBitacora" Creacion = "aGutierrez" FechaCreacion = "20180313" Modificacion = "" FechaModificacion = "">InsBitacora</Consulta>
  <Consulta EtiquetaId = "SPObtBitacora" Creacion = "aGutierrez" FechaCreacion = "20180313" Modificacion = "" FechaModificacion = "">ObtBitacora</Consulta>

  <!--Caracteristicas Particulares -->
  <Consulta EtiquetaId = "SPObtTipoCampo" Creacion = "aHerrera" FechaCreacion = "20180320" Modificacion = "" FechaModificacion = "">ObtTipoCampo</Consulta>

  <!--Categorias -->
  <Consulta EtiquetaId = "SPObtCategorias" Creacion = "aHerrera" FechaCreacion = "20180320" Modificacion = "" FechaModificacion = "">ObtCategorias</Consulta>
  <Consulta EtiquetaId = "SPInsCategoria" Creacion = "aHerrera" FechaCreacion = "20180320" Modificacion = "" FechaModificacion = "">InsCategoria</Consulta>
  <Consulta EtiquetaId = "SPActCategoria" Creacion = "aHerrera" FechaCreacion = "20180320" Modificacion = "" FechaModificacion = "">ActCategoria</Consulta>
  <Consulta EtiquetaId = "SPObtCategoriasTipo" Creacion = "aHerrera" FechaCreacion = "20180320" Modificacion = "" FechaModificacion = "">ObtCategoriasTipo</Consulta>

  <Consulta EtiquetaId = "SPObtColonias" Creacion = "aGutierrez" FechaCreacion = "20180320" Modificacion = "" FechaModificacion = "">ObtColonias</Consulta>
  <Consulta EtiquetaId = "SPObtCP" Creacion = "aGutierrez" FechaCreacion = "20180320" Modificacion = "" FechaModificacion = "">ObtCP</Consulta>

  <Consulta EtiquetaId = "SPObtCaracteristicas" Creacion = "aGutierrez" FechaCreacion = "20180327" Modificacion = "" FechaModificacion = "">ObtCaracteristicas</Consulta>
  <Consulta EtiquetaId = "SPInsCaracteristicas" Creacion = "aGutierrez" FechaCreacion = "20180327" Modificacion = "" FechaModificacion = "">InsCaracteristicas</Consulta>
  <Consulta EtiquetaId = "SPActCaracteristicas" Creacion = "aGutierrez" FechaCreacion = "20180327" Modificacion = "" FechaModificacion = "">ActCaracteristicas</Consulta>
  <Consulta EtiquetaId = "SPObtCatalogosCaracteristicas" Creacion = "aGutierrez" FechaCreacion = "20180330" Modificacion = "" FechaModificacion = "">ObtCatalogosCaracteristicas</Consulta>

  <Consulta EtiquetaId = "SPValidarCodigo" Creacion = "aGutierrez" FechaCreacion = "20180409" Modificacion = "" FechaModificacion = "">ValidarCodigo</Consulta>
  <Consulta EtiquetaId = "SPAprobarRechazarCaracteristica" Creacion = "aGutierrez" FechaCreacion = "20180410" Modificacion = "" FechaModificacion = "">AprobarRechazarCaracteristica</Consulta>


  <Consulta EtiquetaId = "SPObtCaracteristicasPorCategoria" Creacion = "hhernandez" FechaCreacion = "20180506" Modificacion = "" FechaModificacion = "">ObtCaracteristicasPorCategoria</Consulta>
  <Consulta EtiquetaId = "SPObtCatalogoCtrlCaracteristica" Creacion = "hhernandez" FechaCreacion = "20180506" Modificacion = "" FechaModificacion = "">ObtCatalogoCtrlCaracteristica</Consulta>
  <Consulta EtiquetaId = "SPInsProspectoCaracteristica" Creacion = "hhernandez" FechaCreacion = "20180506" Modificacion = "" FechaModificacion = "">InsProspectoCaracteristica</Consulta>
  <Consulta EtiquetaId = "SPObtCaracteristicasPorProspecto" Creacion = "hhernandez" FechaCreacion = "20180506" Modificacion = "" FechaModificacion = "">ObtCaracteristicasPorProspecto</Consulta>
  <Consulta EtiquetaId = "SPEliProspectoCaracteristica" Creacion = "hhernandez" FechaCreacion = "20180506" Modificacion = "" FechaModificacion = "">EliProspectoCaracteristica</Consulta>
  <Consulta EtiquetaId = "SPObtCaracteristicasVacantePorCategoria" Creacion = "hhernandez" FechaCreacion = "20180520" Modificacion = "" FechaModificacion = "">ObtCaracteristicasVacantePorCategoria</Consulta>
  <Consulta EtiquetaId = "SPInsVacanteCaracteristica" Creacion = "hhernandez" FechaCreacion = "20180520" Modificacion = "" FechaModificacion = "">InsVacanteCaracteristica</Consulta>
  <Consulta EtiquetaId = "SPObtCaracteristicasPorVacante" Creacion = "hhernandez" FechaCreacion = "20180520" Modificacion = "" FechaModificacion = "">ObtCaracteristicasPorVacante</Consulta>
  <Consulta EtiquetaId = "SPEliVacanteCaracteristica" Creacion = "hhernandez" FechaCreacion = "20180520" Modificacion = "" FechaModificacion = "">EliVacanteCaracteristica</Consulta>
  
	<Consulta EtiquetaId = "SPObtCaracteristicasValores" Creacion = "jvillegas" FechaCreacion = "20201030" Modificacion = "" FechaModificacion = "">ObtCaracteristicasValores</Consulta>
  <Consulta EtiquetaId = "SPObtCaracteristicasIds" Creacion = "jvillegas" FechaCreacion = "20201030" Modificacion = "" FechaModificacion = "">ObtCaracteristicasIds</Consulta>

</configuration>