<div class="divMarcoBusqueda">
    <div class="row">
        <!-- Nombre -->
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" style="margin-top:5px">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <label for="lblNombre" id="lblNombre" class="labelColumn tamLetra regularTipografia">Nombre </label>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                <input type="text" id="txtNombre" class="form-control inputColumn inputpe tamLetra bookTipografia" name="txtNombre" />
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" style="margin-top:5px">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <label for="lblEstatus" id="lbEstatus" class="labelColumn tamLetra regularTipografia">Estatus</label>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                <select id="slctEstatus" class="form-control inputColumn inputpe tamLetra bookTipografia">
                    <option value="-1">Todos</option>
                    <option value="1">Activos </option>
                    <option value="0">Inactivos</option>
                </select>
            </div>
        </div>
    </div>

    <div class="row">
        <div style="clear:both; text-align:right; width:100%">
            <button type="button" value="Buscar" id="btnBuscar" name="Buscar" class="btnBuscarAgregar" style="margin-right: 1%;">
                <img src="@Url.Content("~/Imagenes/Buscar.png")" class="imagBotones" /> Buscar
            </button>
        </div>

    </div>
    <!-- tabla -->
    <div class="row">
        <div class="divMarcoGrid">
            <div class="divSubMarcoGrid" style="margin:1%">
                <table class="myTable" id="myTable">
                    <thead>
                        <tr>
                            <th style="width: 40%;">Nombre</th>
                            <th style="width: 20%;">Es Activo</th>
                            <th style="width: 20%;">Fecha Creación</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>



</div>




