<div class="divMarcoBusqueda">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" style="margin-top:5px">
            <div class="col-xs-12 col-sm-4 col-md-2 col-lg-2">
                <label for="lblNombre" id="lblNombre" class="labelColumn tamLetra regularTipografia">Nombre</label>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-10 col-lg-10">
                <input type="text" id="txtNombre" class="form-control inputColumn bookTipografia" name="txtNombre" />
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" style="margin-top:5px">
            <div class="col-xs-12 col-sm-4 col-md-2 col-lg-2">
                <label for="lblDescripcion" id="lblDescripcion" class="labelColumn tamLetra regularTipografia">Descripción</label>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-10 col-lg-10">
                <input type="text" id="txtDescripcion" class="form-control inputColumn bookTipografia" name="txtDescripcion" />
            </div>
        </div>
    </div>
    <div style="clear:both; text-align:right; width:100%">
        <button type="button" value="Buscar" id="btnBuscar" name="Buscar" class="btnBuscar">
            <img src="@Url.Content("~/Imagenes/Buscar.png")" class="imagBotones" /> Buscar
        </button>
    </div>
</div>

<div class="divMarcoGrid">
    <div class="divSubMarcoGrid">
        <table class="myTable" id="myTable">
            <thead>
                <tr>
                    <th></th>
                    <th style="width: 25%;">Nombre</th>
                    <th style="width: 25%;">Descripción</th>
                    <th style="width: 25%;">Valor</th>
                    <th>Es Activo</th>
                    <th>Es Sensible</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

