<?xml version="1.0"?>
<configuration>
  <Consulta EtiquetaId = "SPValidarEmpresa" Creacion ="hhernandez" FechaCreacion="20170909" Modificacion=""  FechaModificacion = "">ValidarEmpresa</Consulta>
  <Consulta EtiquetaId = "SPReemplazarMVC" Creacion ="hhernandez" FechaCreacion="20170909" Modificacion=""  FechaModificacion = "">ReemplazarMVC</Consulta>
  <Consulta EtiquetaId = "SPValidarEmpresaSuperUsuario" Creacion ="hhernandez" FechaCreacion="20170909" Modificacion=""  FechaModificacion = "">ValidarEmpresaSuperUsuario</Consulta>
  <Consulta EtiquetaId = "SPValidarSuperUsuario" Creacion ="hhernandez" FechaCreacion="20170909" Modificacion=""  FechaModificacion = "">ValidarSuperUsuario</Consulta>
  <Consulta EtiquetaId = "SPActualizarCodigoSuperAdministrador" Creacion ="hhernandez" FechaCreacion="20170910" Modificacion=""  FechaModificacion = "">ActualizarCodigoSuperAdministrador</Consulta>
  <Consulta EtiquetaId = "SPObtenerParametros" Creacion ="hhernandez" FechaCreacion="20170910" Modificacion=""  FechaModificacion = "">ObtenerParametros</Consulta>
  <Consulta EtiquetaId = "SPLimpiarCodigoSuperAdministrador" Creacion ="hhernandez" FechaCreacion="20170914" Modificacion=""  FechaModificacion = "">LimpiarCodigoSuperAdministrador</Consulta>
</configuration>
